$highlight-text: #cfd0d4;
$highlight-bg: #3e4249;
$text: #949aa5;
$surface-bg: #2b2c30;
$background-bg: #1e1f22;
.table_center {
  margin: 0 10px 0 15px;
  transform: translateY(-5px);
  user-select: none;
  button {
    color: rgba($color: $highlight-text, $alpha: 0.8);
    margin: auto;
    width: 220px;
    display: inline-block;
    line-height: 40px;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: rgba($color: $highlight-bg, $alpha: 0.5);
    border: 1px solid $highlight-bg;
    border-radius: 5px;
    box-shadow: 1px 1px 0, 2px 2px 0, 3px 3px 0, 4px 4px 0, 5px 5px 0;
    position: relative;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background-color: rgba($color: $highlight-bg, $alpha: 0.5);
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
    }
    &:hover {
      color: $highlight-text;
      background-color: transparent;
      &::after {
        background-color: $highlight-bg;
      }
    }
    &:active {
      top: 5px;
      left: 5px;
      box-shadow: 0 0 0 0;
    }
  }
}
