body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: #61dafb;
}
hr {
	width: 100%;
	border: 1px solid #61dafb;
}

.himitsu-dayo {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
	font-size: 1rem;
	cursor: pointer;
	width: 100%;
	padding: 0.5rem;
	color: #0000;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
	user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

main {
	text-align: center;
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	padding: 0 10vw;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
